
@import "tailwindcss";

/* Tailwind 4 way: define fonts */
@theme {
  --font-garamond: "Garamond", serif;
  --font-montserrat: "Montserrat", sans-serif;
   --font-crimson: "Crimson Text", serif;
}

body {
  background: #F9F7F2;
}

@layer base {
  h1 {
    @apply font-garamond text-[56px] leading-none;
  }

  p {
    @apply font-montserrat font-medium text-[32px] leading-[100%] tracking-normal text-black/50;
  }
}
